/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.kitchen-menu_column{
	vertical-align: top;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #d0f9fb;
  padding-left: 200px;
}

/* Header styles */

div.header{
    color: #444;
	background-color: #99ccff;
	border-bottom: 2px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
	text-align:center;
	height:100%;	
}
#langs {
	float:right;	
}
#logindata {
	float:right;
	font-size: 14px;
	text-align:right;
}
#logivalja{
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
}

/*Sidebar styles*/

div.sidebar{
	background-color: #99ccff;
	width:200px;
	position:absolute;
    top:0; bottom:0; left:0;
	text-align:center;
}

#sidebar_table{
	width:100%;
}
td.td_{
   border: 2px solid black;
   text-align:center;
   width:100%;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:10px;
   padding-right:10px;
   background-color: #1de28e;
}

a:hover{
	color:green;
}
a.sidebar_a {
	font-size: 18px;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	color:black;	
}

/*Content styles*/

div.content {
		color: #444;
		font-size: 16px;
		font-weight: normal;
		margin-left: 10px;
		min-height:500px;
}

div.block {
		color: #444;
		font-size: 19px;
		font-weight: normal;
}

/**
 * Footer Styles
 */

div.footer {
  border-top: 2px solid #D0D0D0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #99ccff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}